import(methods,bigmemory, foreach, biglm)
export(
  bigkmeans,
  binit,
  biglm.big.matrix, 
  bigglm.big.matrix, 
  colmin,
  colmax,
  colprod,
  colsum,
  colrange,
  colmean,
  mean,
  colvar,
  colsd,
  colna,
  summary,
  apply)
exportMethods(min)
exportMethods(max)
exportMethods(prod)
exportMethods(sum)
exportMethods(range)
useDynLib(biganalytics)

